$color_1: grey;
$color_2: rgb(5, 129, 44);
$color_3: rgb(255, 255, 255);
$color_4: rgb(12, 84, 12);
$font-family_1: 'Quicksand', sans-serif;
$background-color_1: #d5d4d4;
$background-color_2: white;
$background-color_3: rgb(96, 210, 96);
$background-color_4: grey;

@mixin flex($justify_type){
	display: flex;
	justify-content: $justify_type;
}
img {
	width: 20px;
	height: 24px;
}
html {
	height: 100%;
	min-width: 447px;
	position: relative;
}
body {
	background-color: $background-color_1;
	margin: 0;
	font-family: $font-family_1;
}


.header {
	height: 50px;
	background-image: url("images/header\ pattern\ svg.svg");
	img {
		height: auto;
		width: 150px;
		text-align: unset;
	}
}
.container {
	display: block;
	background-color: $background-color_2;
	width: 48%;
	max-width: 440px;
	margin: 100px auto;
	padding: 20px 30px 10px 30px;
	border-top: 5px solid #73d4ed;
	}
.heading {
	display: flex;
	font-size: 24px;
	font-weight: 600;

	img {
		margin-left: 0;
	}
	p {
		margin: 0 auto;
		font-weight: 700;
	}
}
.radio {
	display: flex;
	margin-top: 20px;
}
.radio_selection {
	@include flex(space-around);
	font-weight: 600;
	p {
	margin: auto 20px auto 5px;
	font-size: 18px;
}
}





.list {
	margin-top: 25px;
	}

.list_label {
	font-size: 12px;
	font-weight: lighter;
	margin-bottom: 0;
	color: $color_1;
}

.list_area {
	@include flex(space-between);
	border-bottom: 1px solid rgb(215, 215, 215);

	p {
		margin-top: 0;
		margin-bottom: 0;
		font-weight: 600;
	}
	
	img {
		height: 20px;
	}
}



.input{
	input {
		text-decoration: none;
		border: none;
		margin-top: 25px;
		width: 100%;
		border-bottom: 1px solid rgb(215, 215, 215);
	}
}
.forgot {
	font-size: 11px;
	color: $color_2;
	font-weight: bold;
	width: 100%;
	text-align: right;
	margin: 0;
}

.remember {
	@include flex(flex-start);

	p{
		margin: auto 5px auto 0;
	}
}

button {
	width: 130px;
	height: 30px;
	display: block;
	margin: 10px auto;
	background-color: $background-color_3;
	border: none;
	color: $color_3;
	text-shadow: 0 0 1px black;
	border-radius: 3px;
	box-shadow: 0 0 5px black;
	font-family: $font-family_1;
}


.info {
	@include flex(center);
	text-indent: 10px;
	position: fixed;
	bottom: 50px;
	width: 100%;
	color: $color_4;
}

footer {
	@include flex(center);
	background-color: $background-color_4;
	height: fit-content;
	position: fixed;
	bottom: 0;
	width: 100%;

	
	img {
	height: 50px;
	width: 100px;
	}
}











